<!DOCTYPE html>
<html lang="hu">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Hitster</title>

<link rel="manifest" href="manifest.json">
<link rel="stylesheet" href="style.css">

</head>

<body>

<div class="container">

    <h1 id="appTitle">🎼 Hitster</h1>

<p style="text-align:center;margin-bottom:20px;">
    <a id="playlistButton"
       href="#"
       target="_blank">
       🎵 Apple Music lejátszási lista
    </a>
</p>

    <div class="search">

        <input
            id="trackNumber"
            type="number"
            placeholder="Kártya sorszáma">

        <button id="searchButton">
            Keresés
        </button>

    </div>

    <div id="error" class="error hidden"></div>

    <div id="result" class="card hidden">

        <h2 id="title"></h2>

        <p>

            <strong>Zeneszerző:</strong>

            <span id="composer"></span>

        </p>

        <p>

            <strong>Előadó:</strong>

            <span id="artist"></span>

        </p>

        <p>

            <strong>Év:</strong>

            <span id="year"></span>

        </p>

        <button id="playButton">

            ▶ Megnyitás Apple Musicban

        </button>

    </div>

</div>

<script type="module" src="app.js"></script>

</body>
</html>